@font-face {
  font-family: "GangwonEduSaeeum_OTFMediumA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-size: 10px;
  font-family: "GangwonEduSaeeum_OTFMediumA", Arial, Helvetica, sans-serif;
}
