@keyframes fade-slide {
  from {
    transform: translateY(-70px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes skeleton {
  from {
    left: -50%;
  }
  to {
    left: 150%;
  }
}
