@mixin textClip($line: 2, $lineHeight: 1.3em) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: $lineHeight;
  max-height: calc(#{$line} * #{$lineHeight});
  -webkit-line-clamp: $line; /* 표시하고자 하는 라인 수 */
  -webkit-box-orient: vertical;
}

@mixin scrollTheme($width: 6px, $height: 4px) {
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 8px;
    background-clip: padding-box;
    // border: 3px solid transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(143, 143, 143);
  }
}
