.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(-100%);
}

.slide-left-enter-to,
.slide-left-leave-from {
  transform: translateX(0);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.2s ease-in-out;
}
